/* .type-bar {
  color: rgb(7, 8, 8);
  margin-top: 10px;
  background-color: rgb(215, 186, 113);
} */

/* .brand-bar {
  color: rgb(7, 8, 8);
  margin-top: 5px;
  font-weight: bold;
  background-color: rgb(215, 186, 113);
  
} */

/* .device-item {
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(115, 113, 215);
} */